.navbar {
    background-color: rgb(224, 30, 68);
    border-radius: 0;
    border: none;
}

.navbar-brand {
    color: white;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-link:hover {
    color: wheat;
}

.row {
    margin-top: 20px;
}